body {
  background: url("../../images/background.png");
}

.splashpage-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}


h1 {
  text-align: center;
  color: black;
  font-size: 40pt;
  font-weight: 600;

}

#content-welcome {
  display: flex;
  flex-direction: column;
  color: rgb(10, 83, 83);
  font-size: 10pt;
  max-width: 700px;
  box-sizing: border-box;
  justify-content: center;
}

#content-welcome>text {
  max-width: 500px;
  align-self: center;
  font-size: 15pt;
}

#content-welcome-block {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin-top: 55px;
  margin-bottom: 20px;
}

#selfie-image {
  height: 300px;
  width: auto;
  margin-top: 40px;
}

#content-images {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#content-images>div>img {
  margin-bottom: 5px;
}

#content-images>div {
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 20px 10px;
  box-sizing: border-box;
  height: 300px;
  width: 330px;
  box-sizing: border-box;
  color: rgb(10, 83, 83);
  letter-spacing: 1px;
}

#content-welcome>text {
  font-size: 14pt;
  line-height: 26px;
  letter-spacing: 1px;
  width: 450px;
}


.content-row-image {
  border-radius: 40px;
  height: 220px;
  width: auto;
}


@media screen and (max-width: 1060px) {
  #content-images {
    display: flex;
    flex-direction: column;
    width: 600px;
  }

  .content-row-image {
    width: 550px;
    height: auto;
    margin-bottom: 10px;
  }

  #content-images>div {
    width: 550px;
    height: auto;
    text-align: center;
  }

  #content-welcome {
    display: flex;
    flex-direction: column;
  }

  #content-welcome-block {
    flex-direction: column;
  }

  #selfie-image {
    width: 550px;
    height: auto;
    align-self: center;
  }
}
