.bottom-nav-wrapper {
  width: 100vw;
  height: 90px;
  background: #48505c;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  margin-top: auto;
  justify-content: center;
}

.page-return {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-return>h3>i {
  margin-right: 10px;
}

.page-return>h3>i.fa-angle-right {
  margin: 0 0 0 10px;
}

.page-return>h3 {
  font-size: 15pt;
  color: lightgray;
  transition: 0.3s;
}

.page-return>h3:hover {
  color: grey;
  transition: 0.3s;
}

.page-bottom-nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1100px;
}

.events-bottom-nav-wrapper {
  width: 1150px;
}

.site-footer {
  margin: 0;
}
