.features-bar-navlink {
  text-decoration: none;
  color: lightslategray;
}

div.features-header {
  height: 100px;
  width: 100vw;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 70px;
  box-shadow: 0 0 5px 0 lightgray;
  z-index: 100;
}

div.features-bar {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  width: 800px;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
}

div.features-bar-component {
  width: 80px;
  display: inherit;
  align-items: inherit;
  justify-content: left;
  font-size: 20px;
  line-height: 1.75rem;
  font-weight: 500;
  text-decoration: none;
}

.features-bar-navlink-active {
  color: var(--site-green);
}


.features-bar-navlink-active::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 63px;
  background: var(--site-green);
  margin-top: 2px;
}

.features-bar-navlink-active.groups-navlink::after {
  width: 70px;
}
