div.groups-index-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}

div.groups-index-page-wrapper {
  display: flex;
  /* justify-content: center; */
  width: 800px;
}

li.group-index-card-item {
  list-style: none;
  font-size: 1rem;
  font-weight: 400;
  color: lightslategray;
}

#group-index-card-item-about {
  width: 440px;
  height: 40px;
  /* white-space: pre-wrap; */
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  text-overflow: ellipsis;
}

#group-index-card-component-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 11pt;
  width: 155px;
  justify-content: space-between;
}

i.fa-solid.fa-circle {
  font-size: 3pt;

}

div.group-index-cards-click {
  height: 200px;
  padding: 10px 0 20px;
  width: 700px;
  display: flex;
  background: white;
  box-sizing: border-box;
  border-bottom: 1px solid lightgray;
}

h2.group-index-card-item {
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
  margin: 0;
  margin-bottom: 8px;
}

div.groups-index-container {
  /* width: 1000px; */
  display: flex;
  flex-direction: column;
  background: white;
  width: 700px;
}

.group-index-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

ul.group-index-card-component {
  padding: 10px 0 0 0;
  margin: 0;
}

.group-index-card-component {
  color: gray;
}

#group-index-card-item-location {
  color: #877457;
  font-size: 14px;
  font-weight: 400;
  margin: 0;

}
