.membership-page-background {
  width: 660px;
  height: auto;
  background: white;
}


.membership-page-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  height: auto;
  /* background: white; */

  justify-content: center;
  align-content: center;
}
