:root {
  --primary: white;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: white;
  padding: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--demo {
  background-color: var(--site-green);
  border-radius: 8px;
  color: #fff;
  fill: #fff;
  transition: 0.3s;
}

.btn--big {
  background-color: var(--site-green);
  border-radius: 8px;
  border: 1px solid var(--site-green);
  background-color: white;
  color: var(--site-green);
  fill: #fff;
  transition: 0.3s;
  box-sizing: border-box;
}

.btn--wide {
  border: none;
  background-color: var(--site-blue);
  color: white;
  border-radius: 8px;
  border: 1px solid var(--site-blue);
}

.btn--menu-item {
  background-color: white;
  border-radius: 6px;
  font-size: 10pt;
  text-align: left;
}

.btn--delete {
  background-color: var(--site-blue);
  border-radius: 8px;
  font-size: 10pt;
  color: white;
  border: 1px solid var(--site-blue);
  transition: 0.3s ease-out;
}

.btn--menu {
  width: 180px;
  height: 30px;
  color: black;
  padding: 0 0 0 10px;
  transition: 0.3s;
  box-sizing: border-box;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 20px;
}

.btn--large {
  padding: 10px 20px;
  font-size: 16px;
}


.btn--modal {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  font-size: 10pt;
}

.btn-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn--accept {
  transform: translateY(-2px);
  background: rgb(18, 120, 5);
  position: absolute;
  font-size: 10pt;
  z-index: 1;
  color: white;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
}

.btn--accept-shadow {
  background: linear-gradient(to left,
      rgb(0, 36, 0) 0%,
      rgb(8, 94, 8) 10%,
      rgb(8, 94, 8) 90%,
      rgb(0, 36, 0) 100%);
  height: 30px;
  width: 80px;
  position: absolute;
  transform: translateY(-13px);
  border-radius: 0.5rem;
}

.btn--reject {
  transform: translateY(-2px);
  background: rgb(181, 21, 48);
  position: absolute;
  font-size: 10pt;
  z-index: 1;
  color: white;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
}

.btn--reject-shadow {
  background: linear-gradient(to left,
      rgb(63, 1, 1) 0%,
      rgb(136, 5, 5) 10%,
      rgb(136, 5, 5) 90%,
      rgb(63, 1, 1) 100%);
  height: 30px;
  width: 80px;
  position: absolute;
  transform: translateY(-13px);
  border-radius: 0.5rem;
}

.btn--small {
  padding: 0;
  height: 30px;
  width: 80px;
}

.btn--remove {
  background: white;
  color: rgb(181, 21, 48);
  font-size: 12pt;
  transition: 0.3s ease-in-out;
  border-radius: 0.25em;
  border: 2px solid rgb(181, 21, 48);
}

.btn--wide:hover:enabled {
  background-color: var(--site-blue-hover);
  transition: 0.3s
}

.btn--medium:hover:enabled,
.btn--large:hover:enabled {
  background: transparent;
  color: #242424;
  transition: all 0.3s ease-out;
}

.btn--demo:hover:enabled {
  background-color: transparent;
  color: var(--site-green);
  transition: 0.3s;
}

.btn--menu:hover:enabled {
  color: var(--site-green);
  transition: 0.3s;
}

.btn--big:hover:enabled {
  background-color: var(--site-green);
  border-radius: 8px;
  color: #fff;
  fill: #fff;
  transition: 0.3s;
}

.btn--delete:hover:enabled {
  background-color: var(--site-blue-hover);
  transition: 0.3s ease-out;
  color: white;
}

.btn--accept:hover:enabled {
  background: rgb(27, 139, 27);
  transition: 0.2s ease-in-out;
}

.btn--accept:active:enabled {
  background: rgb(27, 139, 27);
  transition: 0.2s ease-in-out;
  transform: translateY(2px);
}

.btn--reject:hover:enabled {
  background: rgb(210, 43, 43);
  transition: 0.2s ease-in-out;
}

.btn--reject:active:enabled {
  background: rgb(223, 43, 43);
  transition: 0.2s ease-in-out;
  transform: translateY(2px);
}

.btn--remove.btn--medium:hover {
  background: rgb(181, 21, 48);
  color: white;
  transition: 0.3s ease-in-out;
}

.btn[disabled] {
  opacity: 0.5;
  cursor: default;
}
