div.events-index-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}

div.events-index-page-wrapper {
  display: flex;
  /* justify-content: center; */
  width: 800px;
}

li.event-index-card-item:not(#event-index-card-item-startDate) {
  font-size: 1rem;
  font-weight: 400;
  color: lightslategray;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

#event-index-card-item-startDate {
  color: #877457;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding-top: 10px;
}

#num-attending {
  color: gray;
}
