.event-page-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

.event-page-image {
  width: 40%;
  margin-right: 20px;
  border-radius: 10px;
}

.event-page-info {
  list-style: none;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.event-page-info-item {
  margin-bottom: 10px;
}

.event-page-edit-btn {
  background-color: #0057e7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  box-shadow: 0px 0px 10px #ccc;

}

.event-page-delete-btn {
  background-color: #d93025;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ccc;

}

.event-page-description {
  font-size: 1.2em;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
