#event-header-background {
  display: flex;
  position: relative;
  max-width: 100vw;
  height: 160px;
  background: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-content: center;
}

.event-page-header {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}

.event-page-header>h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  padding-left: 24px;
  min-width: 500px;
}

div.event-page-header .icon-description-card {
  padding: 0 0 0 24px;
}

div.event-page-header .icon-description-card-container {
  height: 80px;
  min-width: 500px;
}

.event-page-container {
  background: rgba(0, 0, 0, 0.03);
  position: relative;
  padding-bottom: 90px;
}

.event-page-icon-card-section {
  position: sticky;
  top: 110px;
}

.event-page-details {
  width: 700px;
  height: auto;
  justify-self: center;
}

.event-page-image {
  max-width: 660px;
  height: auto;
}

.event-page-image-container {
  width: 100%;
  height: auto;
  margin: 50px 0 30px 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.event-page-content {
  display: flex;
  column-gap: 100px;
  justify-content: center;
}

h3 {
  font-size: 18pt;
  font-weight: 500;
}

.event-page-sticky-div {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

section.event-page-icon-card-section>.icon-description-card-container {
  margin-bottom: 20px;
}

.event-page-footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 90px;
  background: white;
  justify-content: center;
  align-content: center;
}

.event-page-info-item {
  margin: 20px 0 80px 0;
  font-size: 11pt;
  line-height: 26px;
  letter-spacing: 1px;
  font-weight: 300;

}

.event-page-footer-buffer {
  display: flex;
  height: 100%;
  width: 1150px;
  justify-content: center;
  margin: 0 20px;
  box-sizing: border-box;
}

.event-page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.event-page-footertext {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 26px;
}


.event-page-footer-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

#event-edit-navlink {
  all: unset;
}

@media screen and (max-width: 1150px) {
  .event-page-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  section.event-page-icon-card-section>.icon-description-card-container {
    width: 700px;
  }

  .event-page-image-container {
    margin-top: 0;
  }
}
