.icon-description-card-container {
  all: unset;
  display: flex;
  /* border: 1px solid black; */
  width: 347px;
  height: 104px;
  background: white;
  border-radius: 1rem;
  box-sizing: border-box;
}

.icon-description-card {
  display: flex;
  width: 300px;
  height: 50px;
  justify-content: flex-start;
  align-self: center;
  padding: 24px;
}

i.icon-description-card-element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  font-size: 36pt;
}


div.icon-description-card-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  row-gap: 8px;
  letter-spacing: 1px;
}

div.icon-description-card-element-heading {
  font-size: 14px;
  font-weight: 400;
}

div.icon-description-card-element-subheading {
  font-size: 14px;
  color: grey;
  font-weight: 400;
}

#group-page-oragnizer-element {
  background: transparent;
}
