* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

nav {
  display: block;
  border-bottom: 1px lightgray solid;

}

#site-logo {
  height: 40px;
  cursor: pointer;
  border: 0px;
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0px;
  box-sizing: border-box;
  margin: 10px 30px;
  border: 0px;
  /* border-bottom: 1px black solid; */
}

.nav-buttons-wrapper {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  justify-content: space-around;
}

.menu-item {
  cursor: pointer;
}

.features-bar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 80px;
}

.features-bar-button {
  all: unset;
  cursor: pointer;
  font-size: 18pt;
}

#fb-events-button,
#fb-groups-button {
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  padding: 5px 10px;
  border: 2px solid grey;
  border-radius: 10px;

}

/* .selected {
  border: 2px solid grey;
  border-radius: 10px;
} */
